
  <div style="margin-top: 150px" class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>Hello, 19-edit-post!</h1>
        <p>这是我记忆空间</p>
        <p><a class="btn btn-primary btn-lg" href="/list" role="button">进入新世界</a></p>
      </div>
    </div>
  </div>
