<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div style="margin-top: 150px" class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>Hello, 19-edit-post!</h1>
        <p>这是我记忆空间</p>
        <p><a class="btn btn-primary btn-lg" href="/list" role="button">进入新世界</a></p>
      </div>
    </div>
  </div>
  <!-- <button onclick="toList()"><a href='./list'>文章列表</a></button>
  <button onclick="toCreate()"><a href='./create'>新建文章</a></button>
  <button onclick="toPosts()"><a href='./posts'>测试接口页面</a></button> -->
</body>

</html>
<script>
  function toPosts() {
    console.log('click test');
  }
  function toCreate() {
    console.log('click test');
  }
</script>