<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>学习到了<a href='https://github.com/xugy0926/learn-webapp-guideline'><%= content %></a></p>
    <button onclick="toList()"><a href='./list'>文章列表</a></button>
    <button onclick="toCreate()"><a href='./create'>新建文章</a></button>
    <button onclick="toPosts()"><a href='./posts'>测试接口页面</a></button>
  </body>
</html>
<script>
function toPosts(){
  console.log('click test');
}
function toCreate(){
  console.log('click test');
}
</script>
