<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>学习到了<a href='https://github.com/xugy0926/learn-webapp-guideline'><%= content %></a></p>
    <button onclick="toPosts()"><a href='./posts'>click me to posts</a></button>
    
  </body>
</html>
<script>
function toPosts(){
  console.log('click test');
}
</script>
