<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
</head>

<body>
    <div id='app'>
        <h1>
            <%= title %>
        </h1>
        <div><input placeholder="请输入标题" /></div>
        <textarea placeholder="请输入内容"></textarea>
        <div>
            <button onclick="toIndex()"><a href='./'>click me to index</a></button>
        </div>
        <br/>
        <div class="pic_container">
            <div class="pic_container_item" v-for="item in picList" >
                <img :src="item.picture.large" />
                <div>phone:{{item.phone}}</div>
            </div>
        </div>

    </div>
</body>

</html>
<script>
    function toIndex() {
        console.log('click test');
    }
    var vm = new Vue({
        el: '#app',
        data: {
            picList: [],
        },
        methods: {
            fetchData() {
                axios.get('https://api.randomuser.me/',
                    {
                        params: {
                            results: 200,
                            pi: 1,
                            ps: 20,
                            _allow_anonymous: true
                        }
                    })
                    .then(function (res) {
                        vm.picList = res.data.results;
                    });
            }
        }
    })
    vm.fetchData();
</script>