<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div><input placeholder="请输入标题" /></div>
    <textarea placeholder="请输入内容"></textarea>
    <div>
        <button onclick="toIndex()"><a href='./index'>click me to index</a></button>
    </div>

</body>

</html>
<script>
    function toIndex() {
        console.log('click test');
    }
</script>