<div class="page">
    <div class="headContainer">
        <div class="title">
            <%= post.title %>
        </div>

        <div class="editBtn">
            <a class="btn" href="/posts/edit?id=<%=post._id %>">编辑</a>
        </div>
    </div>
    <div class="content">
        <%-post.content %>
    </div>

</div>