
.page {
    display: flex;
    margin: 0 200px 0 200px;  
    flex-direction: column;
}

.headContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.title {
    font-size: 34px;
}

.editBtn {
    width: 70px;
    height: 35px;
    border-radius: 6px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:300px; 
}

a {
    text-decoration: none
}

.btn {
    font-size: 20px;
    color: #000000;
}

