body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #E6CCA6 url(../images/bg.png) repeat fixed;
}

.pic_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #76D7C4;
    padding: 10px;
    grid-gap: 5px;
}

.pic_container_item {
    background-color: rgba(46, 204, 112, 0.164);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}


